.app {
  min-height: 100vh;
}

/* LIGHT MODE */
.light {
  background: linear-gradient(
    120deg,
    #4f66a0 0%,
    #7e6cbe 45%,
    #5bbd9e 100%
  );
  color: black;
  text-shadow: 0 2px 8px rgba(0,0,0,0.25);
}

/* DARK MODE */
.dark {
  background: linear-gradient(
    120deg,
    #030712 0%,
    #2b1357 50%,
    #1c614f 100%
  );
  color: white;
}